.about-page .about-collapse {
        max-width: 80%;
        margin: 0 auto;
    }


@media (max-width: 768px) {

    .about-page .collapse {
        margin-bottom: 20px;
    }

    .about-page .about-collapse {
        max-width: 100%;
    }
}