.p {
  white-space: normal;
  overflow-wrap: break-word;
  font-size: 200px;
}

.logement-host-name{
  width: auto;
}


@media (max-width: 768px) {
    .logement-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-container {
        margin-bottom: 20px;
    }

    .logement-rating {
        margin-top: 10px;
    }
}
    
