.logement-tags {
    display: flex;
    gap: 10px;
    max-width: fit-content;
    flex-wrap: wrap;
    margin-top: 10px;
}

.logement-tags span {
    background-color: #fa5e5e;
    color: white;
    height: 25px;
    border-radius: 12px;
    font-size: 14px;
    text-align: center;
    line-height: 25px;
    max-width: fit-content;
    padding: 2px 20px;
    font-weight: 700;
}

@media (max-width: 768px) {
    .logement-tags {
        gap: 8px;
    }

    .logement-tags span {
        font-size: 12px;
        height: 22px;
        line-height: 22px;
        padding: 2px 15px;
    }
}